@import "src/assets/scss/config";

header {
    background: $color-blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;

    h2 {
        width: 100%;
        color: $color-white;
        font-size: $font-largest;
        color: $color-white;

        @media screen and (max-width: 767px) {
            font-size: $font-large;
        }
    }
}