@import "src/assets/scss/config";

:host {
    height: 100%;
    width: 100%;
}

.city-weather {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    border:1px solid $border-gray;
    @include border-radius(5px);
    @include box-shadow(0px 0px 5px $shadow-2);
    overflow: hidden;
    cursor: pointer;

    &:hover {
        @include box-shadow(0 0 10px $shadow-2);
    }

    .weather-icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 60px;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-size: $font-large;
        color: $color-dark-gray;
        padding-bottom: 20px;
    }

    .city-data-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;

        .city-data-col {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid $border-gray;
            padding: 10px 0px;

            label {
                font-size: $font-small;
                width: 100%;
                padding: 0px;
                margin: 0px;
                color: $color-light-gray;
            }

            span {
                font-size: $font-small;
                width: 100%;
                padding: 0px;
                margin: 0px;
                color: $color-dark-gray;
                font-weight: $font-medium;
            }
        }
    }

}