@import "src/assets/scss/config";

.weather-forcast {
    width: 100%;
    display: flex;
    padding: 20px;
    border: 1px solid $border-gray;
    @include border-radius(5px);
    @include box-shadow(0px 0px 5px $shadow-2);
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background: $bg-light-gray;

    .forcast-row {
        width: 100%;
        padding-bottom: 10px;

        &:last-child {
            padding-bottom: 0px;
        }
    }
}