.home-page {
    width: 100%;
    padding: 10px 0px;
}

.city-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .city-row {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);

        .city-col {
            width: 20%;
            padding: 10px 10px;
            min-height: 100%;

            @media screen and (max-width: 1023px) {
                width: 33.33%;
            }

            @media screen and (max-width: 767px) {
                width: 50%;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }
    }
}

