@import "src/assets/scss/config";

:host {
    height: 100%;
    width: 100%;
}

.city-weather {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border:1px solid $border-gray;
    @include border-radius(5px);
    display: flex;
    align-items: center;
    background: $color-white;
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    .weather-icon {
        min-width: 60px;
        width: 60px;
        max-width: 60px;

        @media screen and (max-width: 767px) {
            width: 100%;
            min-height: 60px;
            max-width: none;
            text-align: center;
        }
    }

    h2 {
        flex-grow: 3;
        font-size: $font-bigger;
        color: $color-dark-gray;

        @media screen and (max-width: 767px) {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }

        span {
            width: 100%;
            font-size: $font-regular;
            color: $color-light-gray;
            display: inline-block;
        }

        @media screen and (max-width: 1023px) {
            font-size: $font-medium; 
        }
    }

    .city-data-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;

        @media screen and (max-width: 767px) {
            padding: 10px 0px;
            border-top: 1px solid $border-gray;
            width: 100%;
        }

        label {
            font-size: $font-small;
            width: 100%;
            padding: 0px;
            margin: 0px;
            color: $color-light-gray;
        }

        span {
            font-size: $font-small;
            width: 100%;
            padding: 0px;
            margin: 0px;
            color: $color-dark-gray;
            font-weight: $font-medium;
        }
    }

}